In [1]:
import pandas as pd

In [2]:
s = pd.Series([x for x in range(1,11)])

In [3]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
s.iloc[0]

1

In [5]:
s.iloc[5]

6

In [7]:
s.iat[8]

9

In [8]:
s[1:9]

1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [9]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

In [10]:
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [11]:
s.where(s%2==0,"Odd Number")

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

In [12]:
s.where(s%2==0, s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [15]:
s.where(s%2==0,inplace=True)

In [16]:
s

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [18]:
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [19]:
s.fillna("Filled Value")

0    Filled Value
1             2.0
2    Filled Value
3             4.0
4    Filled Value
5             6.0
6    Filled Value
7             8.0
8    Filled Value
9            10.0
dtype: object

In [20]:
df = pd.DataFrame()

In [21]:
type(df)

pandas.core.frame.DataFrame

In [28]:
d = {"Name":["Nathan","Marie","Schneider","Swee","Frakenstain"],
     "Age":[24,30,44,18,28],
     "Gender":["Male","Male","Male","Female","Male"]}

In [29]:
df = pd.DataFrame(data=d)

In [22]:
# df = pd.read_csv("PandasExample.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'PandasExample.csv'

In [30]:
df

          Name  Age  Gender
0       Nathan   24    Male
1        Marie   30    Male
2    Schneider   44    Male
3         Swee   18  Female
4  Frakenstain   28    Male

In [32]:
df.head()

          Name  Age  Gender
0       Nathan   24    Male
1        Marie   30    Male
2    Schneider   44    Male
3         Swee   18  Female
4  Frakenstain   28    Male

In [33]:
df.tail()

          Name  Age  Gender
0       Nathan   24    Male
1        Marie   30    Male
2    Schneider   44    Male
3         Swee   18  Female
4  Frakenstain   28    Male

In [34]:
df.head(2)

     Name  Age Gender
0  Nathan   24   Male
1   Marie   30   Male

In [35]:
df.tail(2)

          Name  Age  Gender
3         Swee   18  Female
4  Frakenstain   28    Male

In [37]:
df.iloc[0]

Name      Nathan
Age           24
Gender      Male
Name: 0, dtype: object

In [38]:
df.iloc[1]

Name      Marie
Age          30
Gender     Male
Name: 1, dtype: object

In [39]:
df.values

array([['Nathan', 24, 'Male'],
       ['Marie', 30, 'Male'],
       ['Schneider', 44, 'Male'],
       ['Swee', 18, 'Female'],
       ['Frakenstain', 28, 'Male']], dtype=object)

In [ ]:
# chunk csv
"""
df = pd.read_csv("PandasExample.csv", chunksize=2)
"""

"""
    Name | Age | Gender
0   ...    ...   ...
1
    Name | Age | Gender
2
3
    Name | Age | Gender
4

"""

In [40]:
df = df[df["Age"]>25]
df

          Name  Age Gender
1        Marie   30   Male
2    Schneider   44   Male
4  Frakenstain   28   Male

# Statistical func